.errorWrapper {
  display: flex;
  height: 80vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorImage {
  background-image: url("https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Animals-PNG/Monkey_PNG_Image.png?m=1507172115");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
}

.errorMessage {
  padding: 15px;
}
