@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600&display=swap");

.header {
  height: 80vh;
  background: url("https://images.pexels.com/photos/3265437/pexels-photo-3265437.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260")
    no-repeat center;
  background-size: cover;
  font-family: "Oswald", sans-serif;
}

.overlay {
  background: #00000085;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}
.header_title {
  font-weight: bold;
  color: #fff;
  font-size: 4rem;
  position: absolute;
  top: 40%;
  left: 70%;
  width: 75%;
  transform: translate(-70%, -50%);
}

.header_subtitle {
  font-weight: normal;
  padding: 0.3em;
  color: #fff;
  background-color: #8ca279;
  text-decoration: wavy;
  position: absolute;
  bottom: 2%;
  right: 1%;
  width: 400px;
  text-align: end;
  font-size: 1.5em;
}

.features {
  background-color: #8ca279;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 20vh;
  padding: 1.5em 0;
}

.feature-item {
  background-color: #fff;
  color: #2d4739;
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-bottom: 10px;
  height: 200px;
  width: 200px;
  text-align: center;
  padding: 0.9em;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

.feature-item i {
  font-size: 3em;
}

.linear-pic {
  background: url("../../assets/images/linear.png") no-repeat;
  background-size: contain;
  min-height: 25%;
  min-width: 15%;
  position: absolute;
  top: 7%;
  left: 7%;
  display: inline-block;
}

.cta {
  color: orange;
}

.btn-try {
  position: relative;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  color: orange;
  background-color: transparent;
  border: 2px solid orange;
  font-size: 1.5em;
  padding: 12px 30px;
}

.btn-try:hover {
  background-color: orange;
  color: #fff;
}

@media (max-width: 730px) {
  .header_title {
    font-size: 2em;
  }

  .btn-try {
    font-size: 1.2em;
    padding: 12px 20px;
    top: 65%;
  }
}
