.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
  width: 100%;
  background-color: #2d4739;
  color: white;
  text-align: center;
}

.link {
  color: #ccc;
  text-decoration: none;
  padding-bottom: 10px;
}

.link:hover {
  color: #fff;
}
