.App {
  display: flex;
}

.btn {
  box-shadow: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

button:focus {
  outline: 0;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  flex-flow: column-reverse wrap;
  width: 100%;
}

.btn-controls-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.btn-control {
  margin: 0 3px;
  height: 50px;
  padding: 12px 30px;
  font-size: 1.1em;
  background-color: #2d4739;
  color: #ffffff;
}

.btn i {
  margin-right: 5px;
  font-size: 1.2em;
}

/* .btn-connect {
  background: #0275d8;
  color: #ffffff;
}

.btn-mode {
  background: #f0ad4e;
  color: #ffffff;
}

.btn-disconnect {
  background: #d9534f;
  color: #ffffff;
} */

@media only screen and (max-width: 633px) {
  .btn-controls-group {
    flex-direction: column;
    width: 100%;
    padding: 2%;
  }

  .btn-control {
    width: 100%;
    margin: 5px 0;
    height: auto;
  }
}
